
@{
    ViewData["Title"] = "DistribuidoresMundo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <style>
        .title {
            text-align: center;
            font-size: 48px;
            margin-top: 20px;
            color: #FF0000
        }

        .subtitle {
            text-align: left;
            font-size: 36px;
            margin-top: 10px;
            color: #0000FF
        }

        .image-container {
            text-align: center;
            margin-top: 20px;
        }

        .paragraph {
            text-align: justify;
            font-size: 18px;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <div class="title">
        Distribuidores en el Mundo 
    </div>
    <div class="subtitle">
        Walmart
    </div>
    <div class="image-container">
        <img src="~/images/walmart.jpg" alt="Imagen referencial " />
    </div>
    <div class="paragraph">
        Walmart es la mayor corporación pública del mundo según la lista Fortune Global 500 de 2020 y el minorista más grande a nivel mundial, ofreciendo el mayor empleo 
        privado con más de 2 millones de empleados. Es una empresa familiar, ya que la familia Walton posee el 48% de la compañía. Además, es una de las empresas más valiosas del mundo
        y el minorista de ultramarinos más grande de EE.UU., con el 51% de sus ventas de 258 mil millones de dólares en 2009 provenientes de este sector. También es propietario y operador de Sam's Club
        , una cadena de clubes de almacenes.
         Walmart cuenta con casi 11,000 tiendas bajo 65 marcas en 28 países y sitios web de comercio electrónico en 11 países. En Estados Unidos, opera bajo la marca Walmart en todos los estados y Puerto Rico. 
         En Norteamérica, también está presente en Canadá y México con tiendas Walmart Supercenter y Sam's Club. En otros países, se conoce como Asda en el Reino Unido, Seiyu en Japón, Líder en Chile y Best Price 
         en India. Además, tiene operaciones en Brasil y presencia comercial en Costa Rica, El Salvador, Guatemala, Honduras, Nicaragua y China.
    </div>

    <div class="subtitle">
        Costco Wholesale
    </div>
    <div class="image-container">
        <img src="~/images/costco.jpg" alt="Imagen referencial " />
    </div>
    <div class="paragraph">
        Costco Wholesale es una cadena internacional de hipermercados con formato de Club de Precios, cuyo objetivo es proporcionar los mejores precios en productos de calidad. Ofrece una amplia selección de productos exclusivos
        , que incluyen artículos de hostelería, confitería, electrodomésticos, televisores, repuestos para coches, neumáticos, juguetes, dispositivos electrónicos, artículos deportivos, joyería, relojes, cámaras, equipos audiovisuales,
        libros, productos para el hogar, salud y belleza, mobiliario, y equipos y productos para oficina. Todos los productos están respaldados por una garantía de 100% de satisfacción. 
        Costco tiene grandes superficies en Estados Unidos, Puerto Rico, Canadá, México, Taiwán, Corea, Japón, Reino Unido, Australia, España, Francia, Islandia y China. Su misión es ofrecer la mejor calidad en productos y servicios al 
        precio más bajo posible para sus socios.
    </div>

    <div class="subtitle">
        The Kroger
    </div>
    <div class="image-container">
        <img src="~/images/kroger.jpg" alt="Imagen referencial " />
    </div>
    <div class="paragraph">
        THE KROGER CO. (Kroger) fabrica y procesa alimentos para su venta en sus supermercados. La compañía gestiona supermercados, tiendas de departamentos, joyerías y tiendas de conveniencia en los Estados Unidos. Al 3 de febrero de 2018, 
        operaba aproximadamente 3,900 supermercados propios o arrendados, tiendas de conveniencia, joyerías, bodegas de distribución y plantas de producción de alimentos a través de sus divisiones, subsidiarias o afiliadas. 
        Estas instalaciones están distribuidas por todo Estados Unidos.  Al 3 de febrero de 2018, Kroger operaba más de 2,700 supermercados bajo diversas marcas locales, de los cuales más de 2,200 incluían farmacias y alrededor de 1,500 contaban 
        con estaciones de combustible. Además, a partir de esa fecha, la compañía ofrecía servicios de pedido en línea personalizados, como ClickList y Harris Teeter ExpressLane, con recogida en tienda en más de 1,000 de sus supermercados.
        Las tres principales marcas de la compañía son P$$T, Check This Out y Heritage Farm. Otras marcas notables incluyen Simple Truth y Simple Truth Organic.
    </div>
</body>
</html>

