
@{
    ViewData["Title"] = "DistribuidoresPeru";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <style>
        .title {
            text-align: center;
            font-size: 48px;
            margin-top: 20px;
            color: #FF0000
        }

        .subtitle {
            text-align: left;
            font-size: 36px;
            margin-top: 10px;
            color: #0000FF
        }

        .image-container {
            text-align: center;
            margin-top: 20px;
        }

        .paragraph {
            text-align: justify;
            font-size: 18px;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <div class="title">
        Distribuidores en el Perú
    </div>
    <div class="subtitle">
        Backus
    </div>
    <div class="image-container">
        <img src="~/images/backus.jpg" alt="Imagen referencial " />
    </div>
    <div class="paragraph">
        La Unión de Cervecerías Peruanas Backus y Johnston es una empresa internacional que se destaca por sus excelentes prácticas de gestión, 
        lo que le permite manejar pedidos frecuentes, tener un profundo conocimiento del mercado y sus canales de venta, y mantener bajos niveles de inventarios. 
        Un factor clave fue la inversión realizada hace 20 años para fortalecer y asegurar la confiabilidad de su cadena de suministro, minimizando la tercerización
        para mantener el control y evitar la exposición a costos variables.
        En cuanto a procesos, su metodología central es el "Sales & Operations Planning" (S&OP), que ha sido fundamental para gestionar su cadena de suministro, 
        complementada con una significativa inversión en tecnología y desarrollo del personal.
    </div>

    <div class="subtitle">
        Saga Falabella
    </div>
    <div class="image-container">
        <img src="~/images/saga.jpg" alt="Imagen referencial " />
    </div>
    <div class="paragraph">
        La empresa tiene el segundo GMROI más alto entre todas las evaluadas, manteniendo una considerable ventaja sobre la tercera. Según los investigadores, 
        la principal limitación del GMROI, las liquidaciones de moda, podría estar beneficiándola. Al reducir el valor de los inventarios, el ratio aumenta.
        En términos de crecimiento, la empresa ha mantenido un buen nivel en los últimos tres años, a pesar de los cambios climáticos y la desaceleración económica. 
        Otros factores clave han sido su inversión en automatización y la apertura de nuevos locales. La empresa lleva a cabo una detallada planificación de operaciones, 
        incluyendo la recepción de mercancía importada, el picking por tienda, las proyecciones de ventas por unidad y producto, y la productividad por persona.
    </div>

    <div class="subtitle">
        Palmosa
    </div>
    <div class="image-container">
        <img src="~/images/palmosa.jpg" alt="Imagen referencial " />
    </div>
    <div class="paragraph">
        La empresa fabricante de envases desechables mantiene un buen nivel en la mayoría de sus indicadores, aunque no es la preferida por los ejecutivos de SCM.
        Su crecimiento está estrechamente ligado a la automatización de sus procesos, lo que les permite mejorar continuamente la planificación de ventas y operaciones. 
        Han desarrollado una cadena de suministro con una ventaja competitiva sostenible al integrar a sus proveedores como socios, mejorando así su capacidad de respuesta 
        ante las necesidades de sus clientes.
    </div>
</body>
</html>

